<header class="jumbotron container-fluid">
  <h1>{{title }}</h1>
  <h2 class="subheading">Progressive ITU</h2>
</header>
<main class="container">
  <ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="nav-link"
         [routerLinkActive]="['active']"
         [routerLink]="['employees']">Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLinkActive]="['active']"
         [routerLink]="['shopping']">Shopping</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLinkActive]="['active']"
         [routerLink]="['banking']">Bank Kiosk</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLinkActive]="['active']"
         [routerLink]="['counter']">Redux Counter</a>
    </li>

  </ul>
  <router-outlet></router-outlet>
</main>
